@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // colors
  --clr-neutral-900: #000000;
  --clr-neutral-800: #141414;
  --clr-neutral-200: #e9e9e9;
  --clr-neutral-100: #ffffff;
  --clr-accent: #1853d3;

  // defaults
  font-family: "Inter", sans-serif;
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}
